html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
.leaflet-container {
	height: 100%;
	width: 100vw;
}
	
.leaflet-control-container {
	visibility: hidden;
}

.mbox {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
	background-color: #e399f9;
	border: 2px solid #8477cd;
	border-radius: 8px;
	transform: rotate(180deg);
	transition: transform 0.3s;
	cursor: pointer;
}

.expandmbox {
	transform: scale(1.6) translate(0, 20%);
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
